<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h3>Create a Post</h3>
                <div *ngIf="isSucess" class="alert alert-success" role="alert">
                    Post Created Sucessfully
                </div>
                <form name="form" (ngSubmit)="f.form.valid && createPost(f)" #f="ngForm">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" name="title" [(ngModel)]="post.title" #title="ngModel"
                            (ngModelChange)="onTitleChange($event)"
                            [ngClass]="{ 'is-invalid': (f.submitted && title.invalid) || isInvalid  }" required />
                        <div *ngIf="f.submitted && title.invalid" class="invalid-feedback">
                            <div *ngIf="title.errors.required">Title is required</div>
                        </div>
                        <div *ngIf="isInvalid">
                            <div class="text-danger">Title should not contain special characters and numbers</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="body">Body</label>
                        <textarea type="text" class="form-control" name="body" maxlength="50" [(ngModel)]="post.body"
                            #body="ngModel" [ngClass]="{ 'is-invalid': f.submitted && body.invalid }"
                            required></textarea>
                        <div *ngIf="f.submitted && body.invalid" class="invalid-feedback">
                            <div *ngIf="body.errors.required">Body is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>